nav
{
    background-color: rgba(43, 42, 42, 0.8) ;
    /*background: darkgray;
    opacity: 0.8; */
    padding: 10px;
    text-align: center;
}

    nav div
    {
        height: 100%;
    }

    nav a
    {
        background-color: #ccc;
        color: rgb(255, 0, 0);
        display: inline-block;
        width: 90px;
        font-size: 1.2em;
        font-weight: bolder;
        padding: 10px;
        text-decoration: none;
        border: solid 3px;
    }

        nav a:hover
        {
            background-color: white;
            color: red;
            border: 3px solid blue;
        }