.nav_main{
    background-color: rgb(80, 80, 80);

    height: 50px;
    text-align: center;
}

.nav_main > a{
    padding: 30px;
    text-decoration: none;
}

.nav_main a:hover{
    color: rgb(10, 18, 19);
    background-color: rgba(38, 80, 83, 0.63);
    text-decoration: underline;
   
}